.App {
  text-align: center;
}

.teams{
  height: 10vh;
  width : 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.school-logo{
  height: 10vmin;
}


.left {
  float: left;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {border-radius: 8px;}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
a:link, a:visited {
  background-color: #4CAF50;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

a:hover, a:active {
  background-color: greenyellow;
}
.p2{
  font-family: fantasy;
  font-style: italic;
  color: black;
}

ul {
  list-style-type: none;
}

#stylized input{
  display: block;
  font-size:11px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  width:70px;
  margin:2px 0 20px 10px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.App-header {
  background-color: #dd9c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 13, 56);
}

.shorter {
  height: 200px;
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#A{
  width: 50%;
  height: 100%;
}
#B{
  width: 50%;
  height: 100%;
}